# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
.env.REACT_APP_PHONE_NUMBER_ID
.env.REACT_APP_ACCESS_TOKEN
.env.REACT_APP_WHATSAPP_BUSINESS_ACCOUNT_ID
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
